<div class="card">
  <h5 class="card-header">{{accountDetail.name}} account</h5>
  <div class="card-body">
    <p class="card-text">This account is {{accountDetail.type}}</p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn mr-2" [ngClass]="accountDetail.type === 'active' ? 'btn-primary':'btn-secondary'"
        (click)="onUpdateStatus(id,'active')">Set to
        'active'</button>
      <button type="button" class="btn mr-2"
        [ngClass]="accountDetail.type === 'inactive' ? 'btn-primary':'btn-secondary'"
        (click)="onUpdateStatus(id,'inactive')">Set to 'inactive'</button>
      <button type="button" class="btn " (click)="onUpdateStatus(id, 'hidden')"
        [ngClass]="accountDetail.type === 'hidden' ? 'btn-primary':'btn-secondary'">Set
        to 'unknown'</button>
    </div>
  </div>
</div>
