<div class="container">
  <div *appUnless="false">
    <li appBetterHighlight>4</li>
    <li appBetterHighlight>2</li>
  </div>
  <p appBasicHighlight>Style me with basic directive attribute</p>
  <p appBetterHighlight [defaultColor]="'goldenrod'">
    Style me with better directive attribute
  </p>
</div>
<div [ngSwitch]="value">
  <p *ngSwitchCase="5">Value is 5</p>
  <p *ngSwitchCase="10">Value is 10</p>
  <p *ngSwitchCase="100">Value is 100</p>
  <p *ngSwitchDefault>Value is default</p>
</div>
